<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="add-contact">Add Contact</a></li>
    </ul>
    <hr />

    <h1>
      Are you sure you want to delete: {{contact.contactFirstName}}
      {{contact.contactLastName}}
    </h1>

    <form action="{% url 'deleteContact' contact.id as url %}" method="post">
      {% csrf_token %} {{ editContactForm }}
      <input type="submit" value="Delete Contact" />
    </form>
  </body>
</html>
